//main: ../main.scss

.topheader {
  background: url($base-url+'glasses-header-bg.jpg') no-repeat right 50%;
  background-size: 75%;
  padding: 20px 0;
}
.pageheader {
  background: rgba(255, 255, 255, 0.75);
  padding: 10px;

  h1 {
    margin: 0 0 5px 0;
  }
  h2 {
    margin: 0;
    font-size: $fontsize-base*1.25;
  }
}
