//main: ../main.scss

.button-arrow-wrapper {
  display: inline-block;
  cursor: pointer;
  width: $button-arrow-width;
  line-height: $button-arrow-height;
  position: absolute;
  right: 0;
  transition: 1s all;

///Standard arrow box button
  .button-arrow {
    width: $button-arrow-height;
    height: $button-arrow-height;
    background: $brand-color-purple;
    position: relative;
    float: right;
    margin-left: 10px;

    &:after, &:before {
      left: 50%;
      margin-left: -8px;
    	top: 50%;
    	border: solid transparent;
    	content: "";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }
    &:after {
    	border-color: rgba(136, 183, 213, 0);
      border-left-color: $brand-color-purple;
    	border-width: 14px;
    	margin-top: -14px;
    }
    &:before {
    	border-color: rgba(194, 225, 245, 0);
    	border-left-color: #fff;
    	border-width: 18px;
    	margin-top: -18px;
    }
  }

///Variants for back/forward
  &.direction-left {
    right: 100%;
    margin-right: -120px;

    .button-arrow {
      background: $light-grey;
      float: left;
      margin-left: 0;
      margin-right: 10px;

      &:after, &:before {
        right: 50%;
        margin-right: -8px;
        left: auto;
        border-left-color: transparent;
      }
      &:after {
        border-right-color: $light-grey;

      }
      &:before {
        border-right-color: #fff;
      }
    }
  }
}
