//main: ../main.scss
/// Image card slider component

.image-card-container {
  overflow: hidden;

  .slide {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: margin-left 1s;

    @include respond-to('small') {
      flex-direction: row;
    }

    &.left {
      margin-left: -920px;
    }
    &.right {
      margin-right: -920px;
    }
  }

  figure {
    background: $light-grey;
    margin: 0 0 20px 0;
    max-width: $image-max-width;

    @include respond-to('small') {
      margin: 0;
    }

    figcaption {
      padding: 10px;
      min-height: 70px;
    }

    img {
      display: block;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}
