//main: ../main.scss
/// Image card slider component


.image-card-container {
  overflow: hidden;

  .slide {
    float: left;
    width: 100%;
    transition: margin-left 1s;
    @extend %clearfix;

    &.left {
      margin-left: -920px;
    }
    &.right {
      margin-right: -920px;
    }
  }

  figure {
    float: left;
    background: $light-grey;
    max-width: 294px;
    margin: 0 17px 0 0;

    figcaption {
      padding: 10px;
      min-height: 70px;
    }

    img {
      max-width: 100%;
      display: block;
    }
    &:last-child {
      margin-right: 0;
    }
  }

}
