//main: ../main.scss
/// Image card slider component

.image-card-container {
  overflow: hidden;

  .slide {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: margin-left 1s;

    &.left {
      margin-left: -920px;
    }
    &.right {
      margin-right: -920px;
    }
  }

  figure {
    background: $light-grey;
    max-width: $image-max-width;
    margin: 0;

    figcaption {
      padding: 10px;
    }

    img {
      display: block;
    }
    &:last-child {
      margin-right: 0;
    }
    input[type="checkbox"] {
      margin-right: 5px;
    }
  }

}
