//main: ../main.scss

h1, h2 {
  color: $brand-color-purple;
}
h1 {
  text-transform: uppercase;
  font-size: $fontsize-base*3;
}

.header-purple {
  padding: 15px;
  color: #fff;
  background: $brand-color-purple;
}
